@font-face{
    font-family: "GilroyLight";
    src: url(../fonts/Gilroy-Light.otf);
}

@font-face{
    font-family: "GilroyExtraBold";
    src: url(../fonts/gilroy-extrabold.otf);
}

h3{
    color: black;
    
}

.navbar{
/*    border-top: 14px solid #2e2e2d ; */
/*    background: linear-gradient(to bottom, rgba(46, 46, 45,1),rgba(46, 46, 45,0));*/
    
        
    font-size: 16px;
    
}

body{
    font-family: "GilroyLight";
    font-size: 16px;
}


a:hover,a:focus{
    text-decoration: none;
    outline: 0;             
}

.navbar-brand img{
    height: 100%;
}



#myNavbar a{
    color: white;
}

#myNavbar li:hover{
    background: #f74d12;
}

#myNavbar {
    font-family: "GilroyLight";
}

#headerwrap{
    position:static;
    font-family: "GilroyLight";
    margin-top: -160px;
    padding-top: 20px;
    background-image: url(../img/headerwrap.jpg);
    background-repeat: no-repeat;
/*    background-image: url(../img/headerwrap.jpg) no-repeat center top;*/
    text-align: center;
    background-attachment: relative;
    background-position: center;
    min-height: 600px;
    width: 100%;
     background-size:100%;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    margin-right: 0px;
    
}

#headerwrap .col-lg-8{
    padding-left: 18%;
    margin-top: 180px;
     text-align: left;
    color: #ffff;
    font-size: 55px;
       font-family: "GilroyExtraBold";
}

#headerwrap #wheel{
    text-align: left;
    color: #f74d12;
    font-size: 55px;
    font-family: "GilroyExtraBold";
}

#headerwrap .col-lg-4{
    margin-top: 200px;
}

#headerwrap .col-lg-4 select{
    border-radius: 3px;
}

.sl{
    font-family: "GilroyLight";
    min-height: 200px;
    max-height: 700px;
    width: 100%;
    text-align: center;
}

/*стилі для каруселі*/

.sl_slide{
    position: relative;
    
}

.sl_link .sl_concern{
    font-family: "GilroyExtraBold";
    color: #f74d12;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0);
}




.sl_link .text{
    position:absolute;
    bottom: 35%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0);
    text-align: center;
    z-index: 1001;
}



.slick-prev , .slick-next{
    width: 32px;
    height: 32px;
    z-index: 1001;
}

.slick-prev:before , .slick-next:before{
    font-size: 35px;
    text-shadow: 2px 2px 2px black;
    margin-right: 50px;
    z-index: 1001;
}

.slick-prev{
    left: 20%;
}

.slick-next{
    right: 20%;
}


.newsRow{
    margin-top: 40px;
/*
    font-family: "GilroyLight";
      background-image: url(../img/audi.png);
    min-height: 600px;
    width: 100%;
    text-align: center;
*/
/*
    background-attachment: relative;
    background-position: center center;
    background-size:100%;
    background-size:cover;
    background-repeat: no-repeat;
    
    -webkit-background-size:cover;
    -o-background-size:cover;
*/
}



/*
#news .container-fluid .newsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#news .container-fluid .row .col-md-3{
    background-color: rgba(46, 46, 45,0.6);
    color: white;
    margin-top:100px;
    margin-bottom: 100px;
}

#news p{
    color: #f74d12;
    margin-top: 10px;
    font-size: 22px;
    font-family: "GilroyExtraBold";
}

#news a{
    text-decoration: none;
    font-family: "GilroyLight";
    color: #f74d12;
}

.newsRow .row{
    padding-bottom: 20px;
}
*/

#concerns .emblem img{
    width: 100%;
}

/*
footer{
    background-image: url(../img/footer2.jpg);
    min-height: 300px;
    width: 100%;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    background-size:100%;
    background-size:cover;
    background-repeat: no-repeat;
    
    -webkit-background-size:cover;
    -o-background-size:cover;
}
*/

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.bg-lightgray
{
/*    height: 100px;    */
    font-size: 15px;
    font-family: "GilroyLight";
    color: white;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
/*    background-attachment: relative;*/
/*    background-position: center center;*/
/*    background-size: 100%;*/
/*    background-color: #2d2d2d;*/
}

#adminForm{
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #2d2d2d;
}

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

 .image-aboutus-banner {
    /* background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)); */
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 
 
.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;
}

.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}

.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    font-weight: 600;
}

.team-content {
    padding: 0px 15px 15px 15px;
}
.border-team {
    border-bottom:1px solid #e2e2e2;
    margin-bottom:10px;
}
.team-img img{
    
}
.team-img:hover {
    background:#f5f5f5;
    
}

.social-icons{
    
    margin: 0;
    padding: 0;
    font-size : 10px;
}
.social {
    margin:7px 7px 7px 0px;
    color:#232323;
}


#social-fb:hover {
     color: #3B5998;
     transition:all .25s;
 }
 #social-in:hover {
     color: #006080;
     transition:all .25s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .25s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .25s;
 }

 .cta-padding35 {
    padding: 35px 0 35px;
    background-color: #f74d12;
    color:#fff;
}

.icon {
    color : #fff;
    padding:15px;
    background:#323232 ;
    font-size:50px;
    border-radius:90px;
    border:10px solid #323232 ;
    
}
.feature-box {
    text-align: center;
    padding: 20px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
}
.feature-box:hover {
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 15px;
}